.overlay {
    top: 0;
    
    /* Full height (cover the whole page) */
    /* Stay at the top */
    /* Stay at the left */
    /* Stay at the right */
    /* Stay at the bottom */
    background-color: rgb(0, 0, 0,0.6);
    cursor: pointer;
    display: grid;
    align-content: center;

}


    /* Center vertically and horizontally */

.overlay::after {
    /* Add content : "X" */
    color: white;
    background-color: black;
    font-family: sans-serif;
    
    /* Line height ( idem height ) */
    display: block;
    position: absolute;
    padding-top: 1rem;
    padding-right: 1rem;
    width: 2rem;
    height: 2rem;
    border-color: white;
    /* 2px border */
    border-radius: 0.625rem;
}
.overlay>figure {
    margin: 0rem;
    padding: 1rem;
    border-color: white;
    /* White border of 2px */
}
.overlay>figure>img {
    /* Max width 100% for responsive image */
    height: auto;
}